---
import { MarkdownInstance } from 'astro/dist/@types/astro';
import Section from './Section.astro';
import Card from './Card.astro';

interface Props {
	posts: MarkdownInstance<any>[];
}

const { posts } = Astro.props;
---

<div class="mx-auto w-full max-w-screen-lg md:pl-4 py-6">
	<div class="flex justify-between pb-4">
		<p class="text-xl font-bold">最新博文</p>
		<a href="/posts" class="underline hover:text-sky-400">所有博文 →</a>
	</div>
	<div class="flex flex-col pb-4">
		{
			posts.map((post: any) => (
				<div class="mb-4 basis-1 mr-0">
					<Card post={post} />
				</div>
			))
		}
	</div>
</div>
