---
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/layouts/Base.astro';
import Section from '@/components/Section.astro';
import Heading from '@/components/Heading.astro';
import { sortPostsByDate } from '@/utils/data.util';
import ProjectCard from '@/components/ProjectCard.astro';

const { title } = AppConfig;
const { description } = AppConfig;

const allProjects = await Astro.glob('./*.md');
allProjects.sort(sortPostsByDate);
---

<Base head={{ title, description }}>
	<Section><Heading title="项目" /></Section>
	<Section>
		{
			allProjects.map((post: any) => (
				<div class="mb-4 basis-1 last:mb-0">
					<ProjectCard post={post} />
				</div>
			))
		}
	</Section>
</Base>
